Host g5k
  User afaure
  Hostname access-north.grid5000.fr

Host grenoble.g5k
  User afaure
  ProxyCommand ssh g5k -W "$(basename %h .g5k):%p"
  ForwardAgent yes

Host rennes.g5k
  User afaure
  ProxyCommand ssh g5k -W "$(basename %h .g5k):%p"
  ForwardAgent yes

Host nancy.g5k
  User afaure
  ProxyCommand ssh g5k -W "$(basename %h .g5k):%p"
  ForwardAgent yes

Host g5k_south
  User afaure
  Hostname access-south.grid5000.fr

Host grenoble.g5k_south
  User afaure
  ProxyCommand ssh g5k -W "$(basename %h .g5k):%p"
  ForwardAgent yes

Host rennes.g5k_south
  User afaure
  ProxyCommand ssh g5k -W "$(basename %h .g5k):%p"
  ForwardAgent yes

Host nancy.g5k_south
  User afaure
  ProxyCommand ssh g5k -W "$(basename %h .g5k):%p"
  ForwardAgent yes

Host *.g5k_south
  User afaure
  ProxyCommand ssh g5k -W "$(basename %h .g5k):%p"
  ForwardAgent yes

Host *.ciment
  User fauread
  ProxyCommand ssh -q fauread@access-gricad.univ-grenoble-alpes.fr "nc -w 60 `basename %h .ciment` %p"
