Host g5k
  User afaure
  Hostname access-north.grid5000.fr

Host grenoble.g5k
  User afaure
  ProxyCommand ssh g5k -W "$(basename %h .g5k):%p"
  ForwardAgent yes

Host rennes.g5k
  User afaure
  ProxyCommand ssh g5k -W "$(basename %h .g5k):%p"
  ForwardAgent yes

Host nancy.g5k
  User afaure
  ProxyCommand ssh g5k -W "$(basename %h .g5k):%p"
  ForwardAgent yes

Host g5k_south
  User afaure
  Hostname access-south.grid5000.fr

Host grenoble.g5k_south
  User afaure
  ProxyCommand ssh g5k -W "$(basename %h .g5k):%p"
  ForwardAgent yes

Host rennes.g5k_south
  User afaure
  ProxyCommand ssh g5k -W "$(basename %h .g5k):%p"
  ForwardAgent yes

Host nancy.g5k_south
  User afaure
  ProxyCommand ssh g5k -W "$(basename %h .g5k):%p"
  ForwardAgent yes

Host *.g5k_south
  User afaure
  ProxyCommand ssh g5k -W "$(basename %h .g5k):%p"
  ForwardAgent yes

Host ciment
  User adfaure
  Hostname access-rr-ciment.imag.fr

Host *.ciment
  User adfaure
  ProxyCommand ssh ciment -W "$(basename %h .ciment):%p"
  ForwardAgent yes
